.center_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#fact1 {
    color: rgb(87, 82, 82);
}
#fact2 {
    color: rgb(228, 22, 90);
    font-style:italic;
}
#fact3 {
    color: rgb(214, 130, 20);
}

.center {
    text-align: center;
}
.font_verdana {
    font-family: Verdana;
}

.blue {
    color: blue;}
